
@{
    ViewData["Title"] = "thong tin sinh vien";
}
<div>
    <h1> thong tin sinh vien</h1>
    <hr/>
    <p> ma sinh vien : 2310900014</p>
    <p> ho va ten: nguyen linh chi </p>
    <p> lop:K23CNT2</p>
    <p> Email: linh chi</p>
    <p>dien thoai:0366084921</p>
</div>


