@{
    ViewData["Title"] = "thong tin sinh vien ";
}
<h1>@ViewData["Title"]</h1>

<p>ma sinh vien :2310900014</p>
<p>ho va ten: nguyen linh chi </p>
<p> lop: K23CNT2</p>
<p>Email:</p>
<p>DT:0366084xxx</p>