@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p> thong tin sinh vien </p>
    <p> ma sinh vien: 2310900014 </p>
    <p>ho va ten: nguyen linh Chi </p>
    <p> email:nguyenlinhchi022@gmail.com</p>
    <p> lop:K23CNT2</p>
        </div>
