@{
    ViewData["Title"] = "thong tin sinh vien";
}


<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p> Ho vag ten:Nguyen Linh chi </p>
    <p> lop:K23CNT2<p />
    <p>email: nguyenlinhchi022@gmail.com<p />
</div>
