@{
    ViewData["Title"] = "thong tin sinh vien";
}

<div class="alert alert-info">
<h1>@ViewData["Title"]</h1>
    <p> Mã sinn viên: </p>
    <p> Ho va ten:</p>
    <p> ngay sinh </p>
    <p> email:</p>
    <p> dt:</p>
    <p> lop:k23cnt2</p>
</div>

