@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1>Demo index page</h1>
        <p>Xin chào</p>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay lại trang chủ</a>
    </div>
</div>
